html, body{
  	font-family: 'Lato', sans-serif;
    font-size: 100%;
  	 background: #FFf;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*----top-header----*/
.top-header{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}
.containter1{
	width:70%;
	display: block;
	margin: auto;
}
.logo{
	float: left;
}
.logo a{
	color: #AF48FE;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 3.1em;
	display: block;
  	margin: auto;
}
.zirui{
	width:150px;
}
/* top-nav */
.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
.top-nav ul li a{
	font-family: "微软雅黑";
	color: #AF48FE;
	padding: 3px 20px;
	font-size: 1.3em;
	font-weight: 400;
	text-align: center;
	position: relative;
	font-weight: 300;
	text-decoration:none;
}
.top-nav ul li.active a{
	color:#AF48FE;
}
.top-nav ul li a:hover{
	color:#fff;
	background-color: #87d0eb;
	border-radius: 10px;
}
nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
	margin: 1.4em 0 1.3em;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
nav a:hover{
	text-decoration:none;
	color:#00A2C1;
}
nav a#pull {
	display: none;
}
/*----slider----*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
 	position: relative;
	float: left;
	width: 100%;
	margin-top: 5em;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
  width: 100%;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 26%;
	right: 0%;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 28%;
	text-align: center;
	width: 46%;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: #AF48FE;
	top: 56%;
	left: 8%;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 43px;
	background: transparent url("../images/themes.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
 	left: auto;
	background-position: right top;
	right: 8%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width: 100%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 84%;
	z-index: 999;
	left: 47%;
	padding: 0;
	margin: 0;
}
.callbacks_tabs li{
	display:inline-block;
}
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:18px;
  width:18px;
  display:inline-block;
  border:2px solid #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	border:2px solid #AF48FE;
}
/*---- top-grids -----*/
.top-grid{	
}
.top-grid span{
	width:87px;
	height:87px;
	display:inline-block;
	background:url(../images/icons.png) no-repeat 0px -94px;
}
.top-grid span.icon1:hover{
	background-position: 0px 0px;
}
.top-grid span.icon2{
	background-position: -244px -94px;
}
.top-grid span.icon2:hover{
	background-position: -244px 0px;
}
.top-grid span.icon3{
	background-position: -491px -94px;
}
.top-grid span.icon3:hover{
	background-position: -491px 0px;
}
.top-grid span.icon4{
	background-position: -737px -94px;
}
.top-grid span.icon4:hover{
	background-position: -737px 0px;
}
.top-grid h3{
	margin: 0;
	text-transform: uppercase;
	font-size: 1.4em;
	padding: 0.6em 0 0 0;
}
.top-grid h3 a{
	color:#46b3dc;	
}
.top-grid h3 a:hover{
	text-decoration:none;
	color:#705fc4
;
}
.top-grid label{
	display:inline-block;
	background:#A3A3A3;
	height:1px;
	width:50%;
	margin:0 auto;
}
.top-grid p{
	color:#A3A3A3;
	margin:0.5em 0 0 0;
	line-height:1.6em;
}
.top-grids{
	padding:5em 0;
}
/*---- about ----*/
.head-section h3{
	color:#6F6F6F;
	text-transform:uppercase;
	font-style:italic;
	font-size:2em;
}
.head-section h3 span{
	font-weight:300;
	margin-right:0.5em;
}
.about-grids{
	padding:1.5em 0 0 0;
}
.about-grid{
	margin:0;
	padding:0;
}
.about-grid1{
	background:#705fc4;
}
.about-grid-pic img{
	width:100%;
	height: 263px;
}
.about-grid-info{
	padding: 2.3em 2.5em;
	height:263px;
}
.about-grid-info h4{
	font-size: 1.3em;
	font-weight: 400;
	border-bottom: 1px solid #FFF;
	padding: 0 0 0.5em 0;
}
.about-grid-info h4 a{
	color:#FFF;
	text-transform:uppercase;
	text-decoration:none;
}
.about-grid-info p{
	color:#FFFFFF;
	font-size:0.875em;;
	line-height:1.7em;
	font-weight:100;
}
.about-grid2{
	background:#46b3dc;
}
/*--- team ----*/
.team{
	padding:3em 0;
}
/*--- portfolio ---*/
.portfolio-main{
	padding:1.5% 0 4%;
}
#filters {
	margin: 2.5% 0 3.3%;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display:inline-block;
	}
	#filters li span {
		display: inline-block;
		padding: 0.55em 2em;
		text-decoration: none;
		color: #6F6F6F;
		cursor: pointer;
		font-size: 1.0em;
		font-weight: 400;
		text-transform: uppercase;
		margin-right: 0.5em;

	}
	#filters li.filtter-color1 span.active {
		color: #46b3dc;
	}
	#filters li.filtter-color2 span.active {
		color: #705fc4;
	}
	#filters li.filtter-color3 span.active {
		color: #46b3dc;
	}
	#filters li.filtter-color4 span.active {
		color: #705fc4;
	}
	#filters li.filtter-color5 span.active {
		color:#46b3dc;
	}
 	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 33.3333%;
		display:none;
		float:left;
		overflow:hidden;
		margin:0;
	}	
	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor: pointer;
	}
	.portfolio img.p-img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
		display: block;
	}
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
	.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.portfol{
  background: #FFF;
  padding: 1em 0 3em 0;
}
#bg1,#bg2,#bg3,#bg4,#bg5,#bg6,#bg7,#bg8,#bg9{ 
 	display: none;
 	position: fixed; 
 	top: 0%; 
 	left: 0%; 
 	width: 100%; 
 	height: 100%;
	background-color: black; 
	z-index:1001; 
	-moz-opacity: 0.7; 
	opacity:.70; 
	filter: alpha(opacity=70);
}
#show1,#show2,#show3,#show4,#show5,#show6,#show7,#show8,#show9{
	display: none; 
 	position: fixed; 
 	top: 25%; left: 22%; 
 	width: 715px; 
 	height: 380px; 
 	padding: 8px; 
 	border: 5px solid #E8E9F7; 
 	background-color: white; 
 	z-index:1002; 
 	overflow: auto;
 }
.tanchu{
	width: 100%;
  	height: 100%;
	display:block;
	margin:auto;
}
/*-------------Strip---------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
	width: 100%;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(243, 103, 89, 0.8);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position: relative;
	left: -100%;
	background: #705fc4;
	height: 100%;
	margin: 0;
}
.b-animate-go:hover .b-from-left{
	left: 0;
	top: 0px;
	bottom:0;
	padding: 1em 0 0 0;
}
span.m_4{
	font-size:14px;
	font-weight:400;
}
p.m_5 {
	margin:2% auto 5%;
	width: 70%;
	color: #283A47;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
.p-img {
	width:100%;
}
/*---- filters ----*/
#filters li span{
	transition:border-color 0.4s;
	-webkit-transition:border-color 0.4s;
	-moz-transition:border-color 0.4s;
	-o-transition:border-color 0.4s;
	-ms-transition:border-color 0.4s;
}

li.filtter-color1 span{
	border:2px solid #705fc4;
}
li.filtter-color2 span{
	border:2px solid #46b3dc;
}
li.filtter-color3 span{
	border:2px solid #705fc4;
}
li.filtter-color4 span{
	border:2px solid #46b3dc;
}
li.filtter-color5 span{
	border:2px solid #705fc4;
}
.caption{
	border: 10px solid #FFF;
	padding: 1.1em 1em;
	margin: 0em 1em 1em 1em;
	text-align:left;
}
.caption h4{
	text-transform:uppercase;
	color:#FFF;
	font-weight:400;
	font-size:1.3em;
}
.caption p{
	font-size:0.875em;
	line-height:1.5em;
	font-weight:400;
}
/*--work-with-us--*/
.work-with-us{
	background:#46b3dc;
	padding:2em 0;
	
}
.work-with-us h4{
	text-transform:uppercase;
	color:#FFF;
	font-weight:600;
	font-size:2.8em;
	margin-top: 30px;
}
.work-with-us p{
	font-size:1.5em;
	font-weight:300;
	color:#FFF;
}
a.catch-me{
	text-transform:uppercase;
	color:#FFF;
	font-weight:400;
	font-size:1.4em;
	border:2px solid #FFF;
	padding:0.5em 1em;
	margin:1em 0 0;
	display:inline-block;
}
a.catch-me:hover{
	text-decoration:none;
	color:#6F6F6F;
	border-color:#6F6F6F;
}
/*---- map ---*/
.map{
	margin-top: 50px;
	position:relative;
}
.map-location img{
	width:100%;
	border:none;
	min-height:400px;
}
.iframe{
	-webkit-user-select: none;
  	width: 100%;
  	height: 100%;
	}
.contact-info{
	background: #705fc4;
	padding: 0em 2em;
	position: absolute;
	top: 0;
	left: 37%;
	height: 100%;
  	
}
.contact-info p{
	color: #FFF;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.6em;
}
.contact-info p span{
	width: 23px;
	height: 25px;
	display: inline-block;
	background: url(../images/map-icons.png) no-repeat 0px 0px;
	vertical-align: middle;
	margin-right: 0.3em;
}
.contact-info h4{
	color: #FFF;
	font-weight: 300;
	font-size: 1.8em;
	margin: 1.5em 0 3.2em;
}
.contact-info h4 span{
	font-weight:900;
	margin-right:0.3em;
}

.contact-info p span.map-icon1{
	background-position:0px 0px;
}
.contact-info p span.map-icon2{
	background-position: -23px -2px;
}
.contact-info p span.map-icon3{
	background-position: -47px 0px;
}
/*----- footer ----*/
.footer{
	background:#ffffff;
	padding:4em 0;
}
.footer-inner ul{
	margin:0;
	padding:0;
}
.footer-inner ul li{
	display:inline-block;
}
a.contact-me{
	color: #fff;
	border: 2px solid #FFF;
	text-transform: uppercase;
	padding: 0.6em 1.5em;
	font-size: 1em;
	margin-left: 7em;
	text-decoration: none;
	margin-top: 1em;
	display: inline-block;
}
a.contact-me:hover{
	color:#FF6138;
	border-color:#FF6138;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 5%;
	right: 3%;
	overflow: hidden;
	width:32px;
	height:19px;
	border: none;
	text-indent: 100%;
	background: url("../images/top-arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width:32px;
	height:19px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*Styles for screen 768px and lower*/
@media(max-width:1366px){
	.about-grid-info {
		padding: 1.2em 2.5em;
	}
}
@media(max-width:1280px){
	.about-grid-info {
		padding: 0.5em 1.34em;
	}
	.b-animate-go:hover .b-from-left {
		padding: 0.5em 0 0 0;
	}
	.caption {
		border: 8px solid #FFF;
		padding: 0.2em 1em;
	}
	.caption h4 {
  		font-size: 0.5em;
  	}
	.caption p {
  		font-size: 0.5em;
  	}
}
@media(max-width:1024px){
	#about-grid{
		height:100%;
	}
	.about-grid-info {
		padding: 0.5em 1.34em;
		height: 263px;
	}
	.about-grid-pic img.pic{
  		height:203px;
  	}
	.about-grid-pic img {
  		width: 100%;
  		height: 263px;
  	} 	
  	.about-grid-info p.point {
  		font-size: 0.875em;
  		line-height: 1.0em;
  	}
	.col-md-4{
		height:467px;
	}
	.top-nav ul li a {
		font-size: 1em;
  		padding: 10px 10px;
	}
	.b-animate-go:hover .b-from-left {
		padding: 0.5em 0 0 0;
	}
	.caption {
		border: 8px solid #FFF;
		padding: 0.2em 1em;
		height:95%;
	}
	#show1, #show2, #show3, #show4, #show5, #show6, #show7, #show8, #show9 {
		left: 5%;
	}
	.container {
		width:100%;
	}
	#portfoliolist .portfolio {
		width: 50%;
	}
}
@media(max-width:768px){
	.about-grid-info {
		padding: 0.5em 1.34em;
	}
	.b-animate-go:hover .b-from-left {
		padding: 0.5em 0 0 0;
	}
	.caption {
		border: 8px solid #FFF;
		padding: 0.2em 1em;
	}
	#show1, #show2, #show3, #show4, #show5, #show6, #show7, #show8, #show9 {
  		left: 5%;
  		width: 80%;
  		height: 70%;
  	}
	.top-grids {
		padding: 2em 0;
	}
	.banner-grid {
		padding: 1.5em 2em 1.5em 2em;
	}
	.top-grid {
		margin: 0 0 1.5em;
	}
	#filters li span {
		padding: 0.55em 1.2em;
		font-size: 1em;
	}
	#portfoliolist .portfolio {
		width: 50%;
	}
	.caption p {
		overflow: hidden;
	}
	.contact-info {
		left: 26%;
	}
}
@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
  		float:none;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #eee;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
  	}
}
/*Styles for screen 768px and lower*/
@media only screen and (max-width : 768px) {
	nav {
		border-bottom: 0;
		float:none;
	}
	nav ul {
		display: none;
		height: auto;
		margin:0;
		background: #fff;
		margin-top: -15%;
	}
	nav a#pull {
		display: block;
		position: relative;
		color: #F26D7D;
		text-align: right;
		position: absolute;
		top: 22px;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav a#pull img{
		margin-right:2%;
	}
	.top-nav ul li a {
		color:#AF48FE;
		padding: 0.5em 0;
	}
}
@media(max-width:640px){
	.about-grid-info {
		padding: 0.5em 1.34em;
	}
	.b-animate-go:hover .b-from-left {
		padding: 0.5em 0 0 0;
	}
	.caption {
		border: 8px solid #FFF;
		padding: 0.5em 1em;
	}
	.callbacks_tabs {
		left:43%;
	}
	
	.top-grids {
		padding: 2em 0;
	}
	.banner-grid {
		padding:1em;
	}
	.top-grid {
		margin: 0 0 1.5em;
	}
	#filters li span {
		padding: 0.55em 0.8em;
		font-size: 1em;
	}
	#portfoliolist .portfolio {
		width: 100%;
	}
	#show1, #show2, #show3, #show4, #show5, #show6, #show7, #show8, #show9 {
  		left: 5%;
  		width: 80%;
  		height: 55%;
  	}
	.caption p {
		height: 50px;
		overflow: hidden;
	}
	.contact-info {
		left: 21%;
	}
	nav a#pull {
		top: 25px;
	}
	.banner-grid h3 {
		font-size: 0.875em;
	}
	.caption h4 {
		font-size: 1.1em;
	}
	.work-with-us h4 {
		font-size: 1.8em;
	}
	.work-with-us p {
		font-size: 1.1em;
		width: 78%;
		margin: 0 auto;
	}
	a.catch-me {
		font-size: 1.2em;
	}
}
@media screen and (max-width: 600px) {
	nav a#pull {
  		top: 25px;
  	}
  	h1 {
    	font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  	.callbacks_nav {
    	top: 70%;
    }
}
@media(max-width:480px){
	.about-grid-info {
		padding: 0.5em 1.34em;
	}
	.b-animate-go:hover .b-from-left {
		padding: 0.5em 0 0 0;
	}
	.caption {
		border: 8px solid #FFF;
		padding: 0.5em 1em;
	}
	.top-grids {
		padding: 2em 0;
	}
	.banner-grid {
		padding: 0.7em 0.4em;
	}
	.top-grid {
		margin: 0 0 1.5em;
	}
	#filters li span {
		padding: 0.55em 0.8em;
		font-size: 1em;
		margin-bottom: 0.8em;
	}
	#portfoliolist .portfolio {
		width: 100%;
	}
	.callbacks_tabs {
  		top: 80%;
  		left: 40%;
  	}
  	#show1, #show2, #show3, #show4, #show5, #show6, #show7, #show8, #show9 {
  		left: 0;
  		width: 100%;
  		height: 55%;
  	}
	.caption p {
		display:none;
	}
	.contact-info {
		left: 19%;
		padding: 0em 1.3em;
		width: 60%;
	}
	nav a#pull {
		top: 25px;
		right: 9px;
	}
	.banner-grid h3 {
		font-size: 0.875em;
	}
	.caption h4 {
		font-size: 1.1em;
	}
	.work-with-us h4 {
		font-size: 1.6em;
	}
	.work-with-us p {
		font-size: 1.1em;
		width: 90%;
		margin: 0 auto;
	}
	a.catch-me {
		font-size: 1em;
		padding: 0.5em 1em;
	}
	.contact-info h4 {
		font-size: 1.5em;
		margin: 1.5em 0 1.2em;
	}
	.contact-info p {
		font-size: 1.2em;
	}
	.map-location iframe {
		min-height: 250px;
	}
	.footer {
		padding: 2em 0;
	}
	.footer-inner ul li {
		display:block;
	}
	a.contact-me {
		padding: 0.5em 1.3em;
		font-size: 0.9em;
		margin-top: 0.5em;
	}
	.process {
		padding: 1em 0 1em;
	}
	.blog {
		padding: 1em 0;
	}
	.blog-grids {
		padding: 0.5em 0;
	}
}
@media(max-width:450px){
	#show1, #show2, #show3, #show4, #show5, #show6, #show7, #show8, #show9 {
  	left: 0;
  	width: 100%;
  	height: 45%;
	}
}
@media(max-width:375px){
	.callbacks_tabs{
		top:75%;
		left:40%;
	}
	#portfoliolist .portfolio {
  		width: 100%;
  }
  #show1, #show2, #show3, #show4, #show5, #show6, #show7, #show8, #show9 {
  	left: 0;
  	width: 100%;
  	height: 40%;
	}
	nav ul {
  		margin-top: -80px;
  	}
 }
 /*Smartphone*/
@media only screen and (max-width : 320px) {
	nav {
		float:none;
	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #EEE;
	}
}
@media(max-width:320px){
	.about-grid{
		height:100%;
	}
	.about-grid-info {
		padding: 0.5em 1.34em;
	}
	.b-animate-go:hover .b-from-left {
		padding: 2.2em 0 0 0;
	}
	.zirui{
		margin-bottom: 20%;
	}
	.caption {
		border: 8px solid #FFF;
		padding: 0.5em 1em;
	}
	.callbacks_tabs {
  		top: 70%;
  		left:35%;
  	}
  	.about-grid-info p.point{
  		font-size: 1em;
  	}
	.top-grids {
		padding: 2em 0;
	}
	.banner-grid {
		padding: 0.5em 0.4em;
		width: 33.33%;
	}
	.top-grid {
		margin: 0 0 1.5em;
	}
	#filters li span {
		padding:0.6em 0.8em;
		font-size: 0.9em;
		margin-bottom: 0.8em;
	}
	#portfoliolist .portfolio {
		width: 100%;
	}
	.caption p {
		display:none;
	}
	.contact-info {
		left: 0%;
		width: 100%;
		padding: 0em 1.3em;
		min-height: 255px;
		right: 0;
		background:rgba(255, 97, 56, 0.77);
	}
	nav a#pull {
		top: 15px;
		right: 9px;
	}
	.banner-grid h3 {
		font-size: 0.875em;
		padding: 0.2em;
	}
	.caption h4 {
		font-size: 1.1em;
	}
	.work-with-us h4 {
		font-size: 1.3em;
	}
	.work-with-us p {
		font-size: 1em;
		width: 100%;
		margin: 0 auto;
	}
	a.catch-me {
		font-size: 1em;
		padding: 0.5em 1em;
	}
	.contact-info h4 {
		font-size: 1.5em;
		margin: 1.5em 0 1.2em;
		margin-top: 35%;
	}
	.contact-info p {
		font-size: 1.2em;
	}
	.map-location iframe {
		min-height: 250px;
	}
	.footer {
		padding: 2em 0;
	}
	.footer-inner ul li {
		display:block;
	}
	a.contact-me {
		padding: 0.5em 1.3em;
		font-size: 0.9em;
		margin-top: 0.5em;
	}
	.process {
		padding: 1em 0 1em;
	}
	.logo {
		padding: 0.5em 1em;
		display: block;
  		margin: auto;
	}
	.top-nav ul li a {
		padding: 0.5em 0;
		font-size: 0.8em;
	}
	.top-nav ul li.active-join a {
		font-size: 0.8em;
		padding: 0.5em 1.5em;
	}
	.banner-grid:nth-child(5),.banner-grid:nth-child(4){
		display:none;
	}
	.top-grid h3 {
		font-size: 1.2em;
	}
	.head-section h3 {
		font-size: 1.5em;
	}
	.about-grids {
		padding: 0.5em 0 0 0;
	}
	.about-grid-info h4 {
		font-size: 1.1em;
	}
	.head-section h3 {
		font-size: 1.3em;
	}
	.process-grids {
		padding: 0.5em 0;
	}
	.process-grid {
		padding: 1.5em 0 1.5em;
	}
	.process-grid h4 {
		font-size: 1.3em;
	}
	.work-with-us {
		padding: 0.5em 0 1.2em;
	}
	.team {
		padding: 0.8em 0;
	}
	nav a#pull img {
		margin-right: 0%;
		margin-top: 2%;
	}
	#show1, #show2, #show3, #show4, #show5, #show6, #show7, #show8, #show9{
		top: 25%;
  		width: 100%;
  		left:0px;
  		height:35%;
	}
}


